.button {
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    box-shadow: 0 5px #999;
  }
 
  .button {
    background-color: white;
    color: black;
    border: 2px solid #ff0000;
  }
 
  .button:hover {
    background-color: #ff0000;
    color: white;
  }
 
  .button:active {
    background-color: #e20000;
    border: 2px solid #e20000;
    box-shadow: 0 1px #666;
    transform: translateY(4px);
  }
 
 
 
  .button1 {
    position: absolute;
    top: 0px;
    left: 0px;
  }
  .button2 {
    position: absolute;
    top: 50px;
    left: 0px;
    padding: 8.6px 13.6px;
  }
  .button3 {
    position: absolute;
    top: 100px;
    left: 0px;
  }
 
 
  .button4 {
    position: absolute;
    top: 0px;
    left: 75px;
  }
  .button5 {
    position: absolute;
    top: 50px;
    left: 75px;
    padding: 8.6px 13.6px;
  }
  .button6 {
    position: absolute;
    top: 100px;
    left: 75px;
  }
 
 
 
  .button7 {
    position: absolute;
    top: 0px;
    left: 150px;
  }
  .button8 {
    position: absolute;
    top: 50px;
    left: 150px;
    padding: 8.6px 13.6px;
  }
  .button9 {
    position: absolute;
    top: 100px;
    left: 150px;
  }
 
 
.input1 {
  position: absolute;
  top: 175px;
  left: 0px;
  Width: 395px;
}
 
.input2 {
    position: absolute;
    top: 175px;
    left: 405px;
}
 
.input2:hover {
    background-color: #f7eeee;
}
